@page "/UsuarioInfo"
@inject HttpClient http;

<h2>Información del Usuario</h2>
<button class="btn btn-success">Consultar Información.</button>

<table class="table">
<thead>
    <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Edad</th>
    </tr>
</thead>
<tbody>
   
</tbody>
</table>


